@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColorLight);
  color: var(--textColor);
  z-index: 10;
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100%;
}


.gradient-text {
  background: linear-gradient(to right, #3498db, rgb(190, 124, 135), #00ff00, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

.nav-links {
  text-align: right;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.5rem; /* Increase font size */
  position: relative; /* Add relative position for hover effect */
}


nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Set initial width to 0 */
  height: 2px; /* Line thickness */
  /* background: linear-gradient(to right, #007bff, #00ff00, #ff0000); Color at the end of the animation */
  transition: width 0.9s; /* Transition width property */
}

nav a:hover::after {
  height: 10px solid;
  width: 100%; /* Increase width to 100% on hover */
  background: linear-gradient(to right, #007bff, #00ff00, #ff0000); /* Make it transparent at the start of the animation */
}

#resume-button-1 {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
  padding: 10px 20px;
  border-radius: 10px;

  &:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
}


@media only screen and (max-width: 999px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1.8s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
